header {
    background-color: coral;
}

#name {
    background-color: aqua;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

div h3 {

    background-color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style:dotted;
    text-align: center;
}

img {
    width: 600px;
    height: 384px;
}